DerivedDataCache/
Saved/
Intermediate/
Binaries/
Build/
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.ipch
*.obj
*.pdb
*.lib
*.dll
*.exe
*.tmp
*.log
*.apk
*.aab
*_BuiltData.uasset
__pycache__/
Tools/validation-latest.txt
